################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW/.vs/HW/v15
/HW/HW/bin/Debug/netcoreapp2.0
/HW/HW/bin/Debug/netcoreapp2.0
/HW/HW/bin/Debug/netcoreapp2.0
/HW/HW/obj
/.vs
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/.vs/ConsoleApp1/v15
/HW/.vs/HW/DesignTimeBuild
/EmployeeClasses/.vs/EmployeeClasses/v15
/EmployeeClasses/EmployeeClasses/bin/Debug/netstandard2.0
/EmployeeClasses/EmployeeClasses/obj
/CalculationsLib/.vs/CalculationsLib
/CalculationsLib/CalculationsLib/bin/Debug/netstandard2.0
/CalculationsLib/CalculationsLib/obj
/Midterm Project/.vs/Midterm/v15
/Midterm Project/ClassLibrary1/bin/Debug/netcoreapp2.0
/Midterm Project/ClassLibrary1/obj
/Midterm Project/Midterm/bin/Debug/netcoreapp2.0
/Midterm Project/Midterm/obj
/Midterm Project/XUnitTestProject1/bin/Debug/netcoreapp2.0
/Midterm Project/XUnitTestProject1/obj
