################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW/.vs/HW/v15
/HW/HW/bin/Debug/netcoreapp2.0
/HW/HW/bin/Debug/netcoreapp2.0
/HW/HW/bin/Debug/netcoreapp2.0
/HW/HW/obj
/HW/.vs/HW/DesignTimeBuild
/EmployeeClasses/.vs/EmployeeClasses/v15
/EmployeeClasses/EmployeeClasses/bin/Debug/netstandard2.0
/EmployeeClasses/EmployeeClasses/obj
